.bigBlock{
  width:100%;
  margin-top:30px;
  background-color: #0D2B45;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.bigBlock__title{
  width: 50%
}

.bigBlock__title h1{
  font-family: 'Mini Pixel-7' !important;
font-style: normal;
font-weight: 400 !important;
font-size: 80px;
line-height: 64px;
color: #fff
}

.bigBlock__title h1 code{
color: #FEBF3E !important;
all: unset;
}

.bigBlock__img{
  height:  100%;
  width: 30%
}

.bigBlock__img img{
  object-fit: contain !important;

}

.bigBlock__img span:first-child{
  width: 100% !important;
  height: 100% !important;
}

@media (min-width:0) and (max-width:1200px){
  .bigBlock{
    flex-direction: column;
    align-items: center;
  }
  .bigBlock__title{
    width: 100%
  }
  
.bigBlock__title h1{
  text-align: center;
  font-size: 50px;
  line-height: 50px
}
.bigBlock__img{
  width: 100%
}
}