.analytics__body__block__diagramma_box {
  width: 70% !important;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.analytics__body__block__diagramma_box span {
  margin-right: 40px !important;
  height: 80% !important;
}

.analytics__body__block__diagramma_box canvas {
  width: 40% !important;
  height: auto !important;
  margin: auto 3rem auto 0;
}

.analytics__body__block__diagramma_box__text_block {
  width: 100%;
}

.analytics__body__block__diagramma_box__text_block
  .analytics__body__block__box {
  width: 100% !important;
}

.analytics__body__block__desc_block
  .analytics__body__block__diagramma_box__text_block {
  width: 100%;
}

.analytics__body__block__box__titles {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.analytics__body__block__box__titles div:first-child {
  width: 60%;
}

.analytics__body__block__box__titles div p {
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #619ebb;
  text-align: left;
  display: flex;
  align-items: center;
}

.analytics__body__block__box__titles div p button {
  font-size: 20px;
  margin-left: 7px;
}

.analytics__body__block__box__titles div h3 {
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
  text-align: left;

  color: #ffffff;
  margin: 8px 0px;
}

.analytics__body__block__diagramma_box__title {
  padding-top: 1rem;
  width: 30%;
}

.analytics__body__block__desc_block {
  width: 25% !important;
  margin-top: 2rem;
}

.analytics__body__block__desc_block .analytics__body__block__box {
  padding: 0 !important;
  width: 100%;
}

.analytics__body__block__desc_block
  .analytics__body__block__box__titles
  div:first-child {
  width: 100%;
}

.analytics__body__block__desc_block__list_text {
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #febf3e;
  margin-bottom: 40px;
}

.analytics__body__block__box {
  width: 100%;
  padding: 40px;
  background: #0d2b45;
}
.analytics__body__block__desc_block__list_text {
  cursor: pointer;
}
@media (min-width: 0) and (max-width: 1200px) {
  .analytics__body__block__diagramma_box {
    width: 100% !important;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .analytics__body__block__diagramma_box__text_block {
    width: 100%;
  }
  .analytics__body__block__desc_block {
    width: 100% !important;
  }
  .analytics__body__block__desc_block
    .analytics__body__block__diagramma_box__text_block {
    display: flex;
    flex-wrap: wrap;
  }
  .analytics__body__block__desc_block__list_text {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .analytics__body__block__diagramma_box__title,
  .analytics__body__block__box__titles div:first-child {
    width: 100%;
    padding: 0;
  }
  .analytics__body__block__box__titles div p {
    justify-content: center;
  }

  .analytics__body__block__box__titles div h3 {
    text-align: center;
  }
  .analytics__body__block__diagramma_box canvas {
    margin: 40px 0 0 0;
    width: 100% !important
  }
}
