.analytics {
  display: flex;
  justify-content: center;
}

.analytics__body {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.analytics__body__check {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;

  color: #619ebb;
}

.analytics__body__title {
  width: 100%;
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 176px;
  line-height: 112px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;

  margin-top: 30px;
}

.analytics__body__block { 
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.analytics__body__block__box {
  width: 48%;
  padding: 40px;
  background: #0d2b45;
}

.analytics__body__block__box__titles {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.analytics__body__block__box__titles div:first-child {
  width: 60%;
}

.analytics__body__block__box__titles div p {
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #619ebb;
  text-align: left;
  display: flex;
  align-items: center;
}

.analytics__body__block__box__titles div p button {
  font-size: 20px;
  margin-left: 7px;
}

.analytics__body__block__box__titles div h3 {
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
  text-align: left;

  color: #ffffff;
  margin: 8px 0px;
}

.analytics__body__block__box__titles_2 {
  margin-top: 50px;
}

.content {
  width: 239px;
  height: 98px;
  background: #848c93;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content p {
  width: 80%;
  text-align: center;
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;

  color: #061e29;
  margin: 0;
}

.btn{
  display: none;
}

@media (min-width:0) and (max-width:1200px){
  .analytics__body{
    width: 90%
  }
  .analytics__body__title{
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 72px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .analytics__body__check{
    font-size: 32px;
    line-height: 26px;
  }

  .analytics__body__block__box__titles div h3{
    font-size: 32px
  }
  .analytics__body__block{
    flex-direction: column;
  }

  .analytics__body__block__box{
    width: 100%;
    margin: 1rem 0 0 0
  }
  .analytics__body__block__box__titles{
    flex-direction:  column
  }
  .analytics__body__block__box__titles div p {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 0
  }
  .analytics__body__block__box__titles div:first-child{
    width: 100%
  }
  .analytics__body__block__box__titles div h3{
    text-align: center
  }

  .analytics__body__block__box__titles div{
    margin-bottom: 2rem
  }
}