.endBlock{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.endBlock__box1{
  width: 30%
}

@media (min-width:0) and (max-width:1200px){
  .endBlock__box1{
    width: 100%
  }
}