@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mini Pixel-7";
    src: url(https://fonts.googleapis.com/css2?family=Inter&display=optional);
}

body{
    margin: 0;
    background-color: #061E29 !important;
}

::selection {
    background-color: var(--geist-selection);
    color: red;
}

.ant-popover-inner-content{
    padding: 0 !important
}

.ant-popover-arrow-content::before{
    background: #848C93 !important;

}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R{
    padding-bottom: 0 !important;
    padding-top: 0  !important
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R:first-child{
    padding-top: 40px !important
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R,
.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R div:first-child {
    width:100% !important
}