@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mini Pixel-7";
    src: url(https://fonts.googleapis.com/css2?family=Inter&display=optional);
}

body{
    margin: 0;
    background-color: #061E29 !important;
}

::selection {
    background-color: var(--geist-selection);
    color: red;
}

.ant-popover-inner-content{
    padding: 0 !important
}

.ant-popover-arrow-content::before{
    background: #848C93 !important;

}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R{
    padding-bottom: 0 !important;
    padding-top: 0  !important
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R:first-child{
    padding-top: 40px !important
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R,
.Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R div:first-child {
    width:100% !important
}

.EndBlock_endBlock__dXOBG .EndBlock_endBlock__box1__fHiXW .Analytics_analytics__body__block__box__mRd9R:first-child,
.EndBlock_endBlock__dXOBG .EndBlock_endBlock__box1__fHiXW .Analytics_analytics__body__block__box__mRd9R:nth-child(2)

{
    width: 100%;
    padding-bottom: 0;
}

.EndBlock_endBlock__dXOBG .Analytics_analytics__body__block__box__mRd9R{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EndBlock_endBlock__dXOBG .Analytics_analytics__body__block__box__mRd9R:last-child{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.BigBlock_bigBlock__text__xaa_9 .Analytics_analytics__body__block__box__mRd9R{
    width: 100%
}

.BigBlock_bigBlock__text__xaa_9 .Analytics_analytics__body__block__box__titles__7F2BN{
    padding: 15px 0;
    
    justify-content: flex-end;
}

.BigBlock_bigBlock__text__xaa_9 .Analytics_analytics__body__block__box__titles_2__Nkzzk div:first-child{
    width: 57%
}

.BigBlock_bigBlock__text__xaa_9 .Analytics_analytics__body__block__box__titles_2__Nkzzk div:last-child h3{
    text-align: end
}

@media (min-width:0) and (max-width:800px){
    .Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R{
        width: 100% !important;
        padding-top: 0 !important
    }

    .Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R div:first-child,
    .Chart_analytics__body__block__diagramma_box__text_block__6x8br .Analytics_analytics__body__block__box__mRd9R div:last-child
    {
        margin-bottom: 0
    }
}