@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mini Pixel-7';;
  src: url('../fonts/mini_pixel-7.ttf') format('woff2');
}

.ant-checkbox-checked .ant-checkbox-inner{
  background: #febf3e !important ;
  height: 24px  !important ;
  width: 24px  !important ;
  color:black !important;
}
.ant-checkbox-inner{
  height: 24px  !important ;
  border:3px solid #365c7d !important;
  width: 24px  !important ;
  background: transparent !important ;

}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table {
  background: #061e29;
  color: white;
  text-align: center;
}

body {
  margin: 0;
  background-color: #061e29 !important;
  font-family: 'Mini Pixel-7' !important;
  overflow-x: hidden
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #e1e6e7, #0d2b45);
  border-radius: 5px;
}

::selection {
  background-color: red;
  color: red;
}

::-moz-selection {
  background: red !important;
  color: #000 !important;
}

.ant-popover-inner-content {
  padding: 40px !important;
}

a.ant-typography {
  font-size: 20px !important;
  color: #febf3e !important;
  text-decoration: underline !important;
}

.ant-popover-arrow-content::before {
  background: #848c93 !important;
}

.ant-popover-inner-content{
  padding: 0 !important;
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br
  .Analytics_analytics__body__block__box__mRd9R {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br
  .Analytics_analytics__body__block__box__mRd9R:first-child {
  padding: 40px 0 0;
}

.Chart_analytics__body__block__diagramma_box__text_block__6x8br
  .Analytics_analytics__body__block__box__mRd9R{
    padding: 0 !important
  }

.Chart_analytics__body__block__diagramma_box__text_block__6x8br
  .Analytics_analytics__body__block__box__mRd9R,
.Chart_analytics__body__block__diagramma_box__text_block__6x8br
  .Analytics_analytics__body__block__box__mRd9R
  div:first-child {
  width: 100% !important;
}

.EndBlock_endBlock__dXOBG
  .EndBlock_endBlock__box1__fHiXW
  .Analytics_analytics__body__block__box__mRd9R:first-child,
.EndBlock_endBlock__dXOBG
  .EndBlock_endBlock__box1__fHiXW
  .Analytics_analytics__body__block__box__mRd9R:nth-child(2) {
  width: 100%;
  padding-bottom: 0;
}

.EndBlock_endBlock__dXOBG .Analytics_analytics__body__block__box__mRd9R {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.EndBlock_endBlock__dXOBG
  .Analytics_analytics__body__block__box__mRd9R:last-child {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.BigBlock_bigBlock__text__xaa_9 .Analytics_analytics__body__block__box__mRd9R {
  width: 100%;
}

.ant-btn-primary{
  color: #fff !important;
  border: none !important;
  background: transparent !important;
  font-size: 20px !important
}

.ant-table-pagination-right {
  justify-content: center !important;
  width: 100% !important;
}
.ant-pagination-options-size-changer.ant-select {
  display: none !important;
}
.ant-table-cell :hover {
  color: #fff5f5 !important;
  background-color: #061e29b1 !important;
}
.tablePage {
  overflow: auto;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > td {
  background-color: #061e29;
  text-align: center;
  color: white;
}
.myTable {
  width: 80%;
  margin: 2rem auto;
}

.none {
  display: none !important;
}

.margin {
  padding-bottom: 3rem !important;
}

.margin .Navbar_navbar__links__kkPCY {
  width: 40%;
}

.ant-drawer-title {
  margin: auto 0 !important;

  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 30px !important;
  line-height: 30px;
  text-transform: uppercase;

  color: #ffffff !important;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
    background-color: transparent !important;
    border: none !important
}

.ant-table-thead .ant-table-cell{
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #619EBB !important;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis{
  color: #4F849E !important
}

.EndBlock_endBlock__box1__fHiXW .Analytics_analytics__body__block__box__mRd9R:last-child{
  padding-top: 0
}

.ant-table-cell{
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}

.ant-table-content table,
.ant-table-container{
  border: none !important
}

.ant-pagination-item{
  background: transparent !important
}

.ant-pagination-item-active{
  background: #0D2B45 !important;
  border-color: transparent !important;
}

.ant-pagination-item{
  border: none !important
}

.ant-pagination-item-active a{
  color: #fff !important
}

.ant-pagination-item a{
  color: #4F849E !important;
  font-family: 'Mini Pixel-7';
  font-weight: 400;
  font-size: 24px;
}

tr.ant-table-row.ant-table-row-level-0.editable-row td.ant-table-cell:nth-child(1){
  font-size: 24px
}

tr.ant-table-row.ant-table-row-level-0.editable-row:nth-child(odd) td.ant-table-cell:nth-child(2) span {
  color: #fff;
  background: red;
  border: none;
  font-size: 20px;
}
tr.ant-table-row.ant-table-row-level-0.editable-row:nth-child(even) td.ant-table-cell:nth-child(2) span {
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(38 133 76 / var(--tw-bg-opacity));
  border: none;
  font-size: 20px;
}



@media (min-width: 0) and (max-width: 1200.9px) {
  .ant-drawer-header-title{
    flex-direction: row-reverse;
  }
  .ant-drawer-header{
    border: none !important;
    margin-top: 1rem
  }

  .ant-drawer-body{
    padding: 0 !important;
    overflow-x: hidden !important;
  }

  .Chart_analytics__body__block__diagramma_box__text_block__6x8br
    .Analytics_analytics__body__block__box__mRd9R {
    width: 100% !important;
    padding-top: 0 !important;
  }
  .margin .Navbar_navbar__links__kkPCY,
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }

  .ant-popover-inner-content {
    padding: 0 !important;
  }

  .margin .Navbar_navbar__body__NfAP_ {
    flex-direction: column;
  }

  .smDisplay,
  .smNavbarDisplay {
    display: none !important;
  }

  .Chart_analytics__body__block__diagramma_box__text_block__6x8br
    .Analytics_analytics__body__block__box__mRd9R
    div:first-child,
  .Chart_analytics__body__block__diagramma_box__text_block__6x8br
    .Analytics_analytics__body__block__box__mRd9R
    div:last-child {
    margin-bottom: 0;
  }

  .EndBlock_endBlock__dXOBG .Analytics_analytics__body__block__box__mRd9R {
    width: 100%;
  }

  .EndBlock_endBlock__box1__fHiXW
    .Analytics_analytics__body__block__box__mRd9R
    div:last-child {
    display: none;
  }

  .EndBlock_endBlock__dXOBG
    .EndBlock_endBlock__box1__fHiXW
    .Analytics_analytics__body__block__box__mRd9R:nth-child(2) {
    margin-top: 0;
    padding-top: 0;
  }
  .EndBlock_endBlock__dXOBG
    .Analytics_analytics__body__block__box__mRd9R:last-child {
    padding: 0;
  }
  .BigBlock_bigBlock__text__xaa_9
    .Analytics_analytics__body__block__box__mRd9R
    .Analytics_analytics__body__block__box__titles__7F2BN
    div {
    width: 48%;
  }
  .BigBlock_bigBlock__text__xaa_9
    .Analytics_analytics__body__block__box__mRd9R
    .Analytics_analytics__body__block__box__titles__7F2BN {
    flex-direction: row;
  }
}
.ant-drawer-wrapper-body {
  --tw-bg-opacity: 1;
  background-color: rgb(97 158 187 / var(--tw-bg-opacity));
}
.ant-drawer-header {
  background-color: transparent !important ;
}
.anticon svg {
  color: white;
}
