.home__table_title{
  font-family: 'Mini Pixel-7';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 64px;
  text-align: center;
  
  color: #FFFFFF;
  padding-top: 2rem
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .home__table_title{
    text-align: center;
    font-size: 56px;
    line-height: 44px;
  }
}